@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cdb4db;
  font-family: Inter, "sans-serif";
  text-align: center;
}

#game-container {
  /* margin-bottom: 1rem; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1.5rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-container h1 {
  font-weight: 700;
  font-size: 8vmin;
}

#winner-box {
  margin-top: 3rem;
  font-size: 5vmin;
}

#game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  font-size: 8vmin;
  color: #2a9d8f;
  background-color: #edede9;
  transition: all 0.3s ease-in-out;
}
.box:hover {
  cursor: pointer;
  transform: scale(0.9, 0.9);
  font-size: 10vmin;
}

.match-pattern {
  font-size: 12vmin;
  transform: scale(1, 1);
  color: #8338ec;
}
.match-pattern:hover {
  font-size: 12vmin;
  transform: scale(1, 1);
  color: #8338ec;
}

#reset-button {
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #000814;
  border: none;
}

#reset-button:hover {
  cursor: pointer;
}

.hide {
  display: none;
}
